<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920547360785-qrrtph6n4vnmj87iqn7jg9roc5kd1fco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920547360785-qrrtph6n4vnmj87iqn7jg9roc5kd1fco</string>
	<key>API_KEY</key>
	<string>AIzaSyBomN-_38D_urCYYp41tKTlerhQD0C3mTU</string>
	<key>GCM_SENDER_ID</key>
	<string>920547360785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xoxo</string>
	<key>PROJECT_ID</key>
	<string>arenabet-c8607</string>
	<key>STORAGE_BUCKET</key>
	<string>arenabet-c8607.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920547360785:ios:fbb09bacffbcda928c71b0</string>
</dict>
</plist>